.line {
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}

.benifit {
    border-radius: 100%;
    width: 100px;
}

.welcome {
    text-align: center;
    background-image: linear-gradient(pink 0%, turquoise 100%);
    background-repeat: no-repeat;
}

.about{
    text-align: center;
    background-image: linear-gradient(yellow 0%, red 100%);
    background-repeat: no-repeat;  
}

h1 {
    text-shadow: 2px 2px gray;
    font-size: 20px;
}

.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

.fav_hobby{
 text-align: center;
    background-image: linear-gradient(lightgreen 0%, darkgreen 100%);
    background-repeat: no-repeat;     
}

.button{
    width: 150px;
    background-color: aqua;
    font-weight: 700;
    
}

.badminton {
    width: 200px;
    height: 200px;
    
}

#storybody{
    background-image: linear-gradient(purple 0%, skyblue 50%, pink 100%);
}

html{
    scroll-behavior: smooth;
}

.my_works{
   background-image: linear-gradient(lightpink 0%, white 100%) 
}

.my_inspiration{
    background-image: linear-gradient(blue 0%, darkblue 100%)
}

